__pycache__/
old_checkpoints/
whole_checkpoints/
checkpoints/
checkpoints_already/
log/
output/
rollouts/
wandb/
LIBERO/
experiments/logs/
experiments/libero_eval_logs/
samples/
checkpoints_old/
output_libero_spatial/
checkpoints_libero_spatial/
output_old/
output_test/
checkpoints_test/
output_test_old/
checkpoints_test_old/

checkpoints_0_01/
output_0_01/

output_queue_0_005/
checkpoints_queue_0_005/

checkpoints_queue/
output_queue/
output_queue_img_weight_0_01/
output_temp/
output_queue_h200/
checkpoints_queue_h200/

aloha_test/
checkpoints_aloha_new/
output_aloha_new/
output_aloha_recognition/


output_aloha_numbers/
output_aloha_goods_0_1_ddp/
output_aloha_recognition_0_1/

checkpoints_aloha_goods_0_1_ddp/
checkpoints_aloha_numbers/
checkpoints_aloha_recognition/
checkpoints_aloha_recognition_0_1/

eval_language/ocrbench/